body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  margin-top: 15px;
}

.logo {
  margin-left: 100px;
}

.logo a {
  font-weight: bold;
  color: #6070ff;
}

.menu-container {
  margin-right: 100px;
}

.menu-container li {
  margin-right: 50px;
  list-style-type: none;
}

.menu-container li a {
  font-size: 15px;
  font-weight: bold;
  color: #344563;
}

.header-container {
  height: 100vh;
}

header {
  max-width: 920px;
}

header h1 {
  font-weight: 900;
  font-size: 48px;
  color: #091e42;
}

.about-info {
  font-weight: lighter;
  font-size: 20px;
  color: #344563;
}

.connect-prompt {
  font-size: 16px;
  text-transform: uppercase;
  color: #7f8cff;
}

.social-links a img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.rect-1 {
  position: absolute;
  width: 108px;
  height: 19px;
  left: 34.6px;
  top: 150px;
  background: #ebebff;
  transform: rotate(-46.14deg);
}

.ellipse-1 {
  position: absolute;
  left: 70px;
  top: 180px;
  transform: rotate(-156.88deg);
  width: 80px;
  height: 40px;
  background-color: #6070ff;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border: 10px solid #6070ff;
  border-bottom: 0;
}

/* #portfolio-item {
  height: 90vh;
  width: 90%;
  border-radius: 10px;
} */

.zattix-shot {
  width: 600px;
  height: 300px;
}

.screen-border-upper {
  background: #ebebff;
  width: 600px;
  height: 50px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.screen-border-lower {
  background: #d35266;
  width: 600px;
  height: 50px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.description h1 {
  margin-bottom: 40px;
  font-weight: bolder;
  font-size: 40px;
  color: #091e42;
}

.description ul {
  list-style-type: none;
}

.stack-list,
.project-demo {
  padding: 0;
}

.stack-list li {
  margin-right: 10px;
  text-transform: uppercase;
  color: #6070ff;
  background: #ebebff;
  padding: 2px 8px;
  border-radius: 10px;
}

.project-demo li {
  margin-top: 20px;
  margin-right: 40px;
  background-color: #4053fc;
  padding: 7px 15px;
  border-radius: 10px;
}

.project-demo li a {
  color: #fff;
}
